/*
 ** Media Query Mixin For Help Only
 ** Demo Version ONly For The Course
*/
/*
 ** Overlay Mixin
*/
/*
 ** Prefixes Mixin
 ** Auto Add Prefixes To Properties
*/
/*
 ** Animation Mixin
 ** Auto Add Prefixes To Animation
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

.main-button {
  background-color: rgba(226, 73, 76, 0.8);
  color: #FFF;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.main-button:hover {
  background-color: #e2494c;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: white;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.head-with-border h2:before {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  background-color: #d9d9d9;
  left: 0;
  top: 50%;
  z-index: -1;
}

body {
  background-color: #f6f6f6;
}
body font {
  size: 16px;
  family: Tahoma;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px Solid #717171;
}
.header .logo {
  width: 30%;
  float: left;
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .navbar {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 15px;
}
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
}
.header .navbar li a:hover {
  color: #d9d9d9;
}

/* Start Slider */
.slider q {
  display: block;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  font-family: Tahoma, Arial;
  line-height: 1.7;
  text-align: center;
  color: #717171;
  width: 80%;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: 3px solid #d9d9d9;
  cursor: pointer;
}
.slider .bullets li.active, .slider .bullets li:hover {
  border: 3px solid black;
  background-color: white;
}

/* End Slider */
/* Start Services */
.services .service-box {
  float: left;
  width: 33.3333333333%;
}
.services .service-box:not(:last-of-type) {
  padding-right: 20px;
}
.services .service-box .service-title svg {
  font-size: 35px;
  position: relative;
  top: 5px;
}
.services .service-box .service-title span {
  margin-left: 10px;
  margin-right: 10px;
}
.services .service-box .service-description {
  color: #717171;
  line-height: 1.5;
}
.services .service-box .link {
  color: #e2494c;
  text-decoration: none;
}

/* End Services */
/* Start Our Players */
.our-players .player-box {
  float: left;
  width: 20%;
  padding-right: 20px;
}
.our-players .player-box .player-img {
  width: 100%;
}
.our-players .player-box .player-title {
  font-weight: normal;
}
.our-players .player-box .player-title span {
  font-weight: bold;
}
.our-players .player-description {
  color: #717171;
  line-height: 1.5;
}
.our-players .link {
  color: #e2494c;
  text-decoration: none;
}

/* End Our Players */
/* Start Lorem Ipsum */
.lorem-ipsum .lorem-box {
  float: left;
  width: 31.3333333333%;
}
.lorem-ipsum .lorem-box:not(:last-of-type) {
  margin-right: 3%;
}
.lorem-ipsum .lorem-box .lorem-img {
  max-width: 100%;
}

/* End Lorem Ipsum */
/* Start Footer */
.footer {
  background-color: #d9d9d9;
  overflow-x: hidden;
  padding-top: 30px;
  margin-top: 50px;
}
.footer .gallery,
.footer .info,
.footer .contact {
  float: left;
}
.footer .gallery {
  width: 50%;
}
.footer .gallery .img-box {
  overflow: hidden;
  margin-bottom: 20px;
}
.footer .gallery .img-box img {
  float: left;
  width: 150px;
  height: 150px;
}
.footer .gallery .img-box .text {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 180px);
}
.footer .gallery .img-box .text h4 {
  color: #e2494c;
  margin: 15px 0 0;
}
.footer .gallery .img-box .text p {
  color: #717171;
  line-height: 1.8;
  margin-top: 8px;
}
.footer .info {
  width: 25%;
}
.footer .info ul {
  color: #717171;
  line-height: 1.6;
}
.footer .info ul li span {
  color: #e2494c;
}
.footer .info h4 {
  color: #717171;
  font-weight: bold;
  margin-bottom: 0;
}
.footer .info p {
  color: #717171;
  margin-top: 5px;
}
.footer .contact {
  width: 25%;
}
.footer .contact input[type=text],
.footer .contact input[type=email],
.footer .contact textarea {
  border: 1px solid #717171;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
}
.footer .contact textarea {
  height: 100px;
}
.footer .section-title {
  font-weight: normal;
}
.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #717171;
  overflow: hidden;
  color: #717171;
}
.footer .copyright .text, .footer .copyright .author {
  float: left;
  width: 50%;
}
.footer .copyright .author {
  text-align: right;
}

/* End Footer */