/*
 ** Media Query Mixin For Help Only
 ** Demo Version ONly For The Course
*/
@mixin maxMobile {
    @media #{$maxMobile} {
        @content;
    }
}
@mixin minSmall {
    @media #{$minSmall} {
        @content;
    }
}
@mixin minMedium {
    @media #{$minMedium} {
        @content;
    }
}
@mixin minLarge {
    @media #{$minLarge} {
        @content;
    }
}

/*
 ** Overlay Mixin
*/
@mixin overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}

/*
 ** Prefixes Mixin
 ** Auto Add Prefixes To Properties
*/

@mixin prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

/*
 ** Animation Mixin
 ** Auto Add Prefixes To Animation
*/

@mixin keyFrame($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}