/* Start Slider */
.slider {
    q {
        display: block;

        font: {
            size: 20px;
            style: italic;
            weight: 500;
            family: Tahoma, Arial;
        }

        line-height: 1.7;
        text-align: center;
        color: $greyColor;
        width: 80%;
        margin: 30px auto;
    }

    .img-wrapper {
        position: relative;

        &::before {
            content: '';
            @include overlay;
            background-color: $greyColor;
            z-index: 1;
        }

        img {
            max-width: 100%;
        }
    }



    .bullets {
        text-align: center;

        li {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $lightGreyColor;
            @include prefixer(border-radius, 50%, webkit moz ms o);
            border: 3px solid $lightGreyColor;
            cursor: pointer;

            &.active,
            &:hover {
                border: 3px solid black;
                background-color: white;
            }
        }
    }
}

/* End Slider */

/* Start Services */
.services {
    .service-box {
        @include minMedium {
            float: $float-left;
            width: (100% / 3);

            &:not(:last-of-type) {
                padding-right: 20px;
            }
        }

        @include maxMobile {
            i {
                display: block;
                margin-bottom: 15px;
            }
        }

        .service-title {
            svg {
                font-size: 35px;
                position: relative;
                top: 5px;
            }

            span {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .service-description {
            color: $greyColor;
            line-height: 1.5;
        }

        .link {
            color: $redColor;
            text-decoration: none;
        }
    }
}

/* End Services */

/* Start Our Players */
.our-players {
    .player-box {
        @include maxMobile {
            margin-bottom: 40px;
        }

        @include minSmall {
            float: $float-left;
            width: (100% / 2);
            text-align: center;
            margin-bottom: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @include minMedium {
            width: (100% / 3);
            text-align: $text-left;
            padding-left: 5px;
            padding-right: 5px;
        }

        @include minLarge {
            width: (100% / 5);
            margin-bottom: 0;
        }

        .player-img {
            width: 100%;
        }

        .player-title {
            font-weight: normal;

            span {
                font-weight: bold;
            }
        }
    }

    .player-description {
        color: $greyColor;
        line-height: 1.5;
    }

    .link {
        color: $redColor;
        text-decoration: none;
    }
}

/* End Our Players */

/* Start Lorem Ipsum */
.lorem-ipsum {
    .lorem-box {
        @include maxMobile {
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }

        @include minSmall {
            float: $float-left;
            width: (94% / 3);

            &:not(:last-of-type) {
                margin-right: 3%;
            }
        }

        .lorem-img {
            max-width: 100%;
        }
    }
}

/* End Lorem Ipsum */